/* TODO Add site wide styles */
body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #2c3440;
    /* background: #14181c; */
    background: linear-gradient(180deg, #2c3440, #14181c);
    background-attachment: fixed;
    /* background-image: linear-gradient(180deg,#14181c 0,#14181c 250px,#2c3440 251px); */
    font-size: 13px;
    color: #9ab;
}

/* #root {
    background-color: #2c3440;
    background: linear-gradient(180deg,#14181c 0,#14181c 250px,#2c3440 251px);
} */

a:link {
    text-decoration: none;
    /* color: #445566;
    color: #EE7000;
    color: #00AC20; */
}

input {
    background-color: #CCDDEE;
    border: none;
    border-radius: 3px;
}

textarea {
    background-color: #CCDDEE;
    border: none;
    border-radius: 3px;
}

input:active, input:focus {
    background-color: white;
    border: none;
    color: black;
  }

textarea:active, textarea:focus {
    background-color: white;
    border: none;
    color: black;
  }
